/*This code is applied on the whole page*/
* {
    font-family: 'proxima_novabold', sans-serif;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #FFC72C;
}

body {
    background-color: #242F35;
    margin-top: 16vh;
}

span {
  color: #FFC72C;
}
/*This code is for the navigation bar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #171E22;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    padding: 0rem 14%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1000;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: #FFC72C;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  animation: animatetext 10s;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background: #FFC72C;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  animation: animatetext 10s;
}

.btn:hover {
  background: #ab851b;
  color: #fff;
}

.btn:active {
  background-color: #171E22;
  transition: 0.01s;
}
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;
}

.headerimage {
  height: 8rem;
  margin: 22px;
  animation: animatetext 2s;
}

.header .logo {
  margin: auto;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: bolder;
  animation: animatetext 2s;
}

.header .logo i {
  color: #FFC72C;
}

.header .navbar {
    display: flex;
    padding: inherit;
    margin: 110px 0 0 0;
}

.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
  display: none;
}

.header .navbar #close-navbar:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif
}

.header .navbar a:hover {
  color: #FFC72C;
}

.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
  margin-left: 1.5rem;
}

.header .icons div:hover {
  color: #FFC72C;
}

.header #menu-btn {
  display: none;
}

.shoppingCartImage {
    max-width: 4rem;
    padding: 1% 3% 1% 1%;
    margin: 0 4px -5% 2%;
}

#shoppingCartButton {
    float: right;
    border: 2px solid black;
    border-radius: 15%;
	margin-top: -3rem;
}

#shoppingCartButton:hover {
    background-color: #FFC72C;
	border-radius: 15%;
	z-index: 1000;
	animation: animatetext 2s;
}


.searchbar {
    position: relative;
    left: 27vw;
    top: -3vw;
    height: 0;
}

input.searchBarfield {
    font-size: inherit;
    border: 2px solid black;
    max-height: fit-content;
}

.searchBarIcon {
    position: relative;
    bottom: -7px;
    left: -30px;
    height: 21px;
    border: 2px solid black;
}

.overNavHeader {
	
display: flex;
padding: inherit;
}

.navHeader {
    min-height: 4%;
    background-color: #FFC72C;
    line-height: normal;
    display: flex;
    position: absolute;
    top: 124px;
}

.navHeader a {
    text-decoration: none;
    padding: 0 1em 3px 8px;
    color: black;
    font-weight: bold;
    font-size: 134%;
    text-align: center;
    width: max-content;
}

.navHeader a:hover {
    background-color: #262626;
    color: white;
}

/*This code is for the products*/
.bodysection {
    margin: 0 auto;
    padding: 0;
}

.flexproductTd1, .flexproductTd2, .flexproductTd3 {
    padding-bottom: 20px;
}

.flexproductTd4, .flexproductTd5, .flexproductTd6, .flexproductTd7, .flexproductTd8, .flexproductTd9 {
}

img.productImg1, img.productImg2, img.productImg3 {
    width: 10vw;
    border: 2px solid black;
}

img.productImg4 {
    width: 10vw;
    border: 2px solid black;
    margin: 69px 0 0;
    background-color: white;
}

img.productImg5, img.productImg6, img.productImg7, img.productImg8, img.productImg9 {
    width: 10vw;
    border: 2px solid black;
    margin: -20px 0 0;
    background-color: white;
}

tbody td .flexProduct4 {
    height: 1vh;
}

.flexProduct1, .flexProduct2, .flexProduct3, .flexProduct4, .flexProduct5, .flexProduct6, .flexProduct7, .flexProduct8, .flexProduct9 {
    padding: 10px;
}

.flexProductsText1, .flexProductsText2, .flexProductsText3 {
    font-size: 11px;
    color: #FFC640;
}

span.flexProductsText4, span.flexProductsText5, span.flexProductsText6, span.flexProductsText7, span.flexProductsText8, span.flexProductsText9 {
    font-size: 11px;
    color: #FFC640;
    position: relative;
    top: 0;
}

table {
    padding: 3% 17% 10% 17%;
}

tr, td {
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-bottom: 10%;
}

.productLookButton1, .productLookButton2, .productLookButton3 {
    border: 3px solid black;
    font-weight: bold;
    font-size: 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 0;
    background-color: #182024;
}

.productLookButton4, .productLookButton5, .productLookButton6, .productLookButton7, .productLookButton8, .productLookButton9 {
    border: 3px solid black;
    font-weight: bold;
    font-size: 10px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: -5px;
    background-color: #182024;
}


button.productLookButton1:hover, button.productLookButton2:hover, button.productLookButton3:hover, button.productLookButton4:hover, button.productLookButton5:hover, button.productLookButton6:hover, button.productLookButton7:hover, button.productLookButton8:hover, .productLookButton9:hover {
    background-color: black;
    color: white;
}

.productLookButton1 a, .productLookButton2 a, .productLookButton3 a, .productLookButton4 a, .productLookButton5 a, .productLookButton6 a, .productLookButton7 a, .productLookButton8 a, .productLookButton9 a {
    color: #FFC640;
}

.productLookButton1 a:hover, .productLookButton2 a:hover, .productLookButton3 a:hover, .productLookButton4 a:hover, .productLookButton5 a:hover, .productLookButton6 a:hover, .productLookButton7 a:hover, .productLookButton8 a:hover, .productLookButton9 a:hover {
    color: #fff;
}

details {
    background-color: #FFC640;
    font-size: 15px;
    border: 1px solid black;
    position: relative;
    bottom: -6vw;
    float: right;
    overflow: hidden;
    width: 15%;
    padding: 1vw;
}

.SortListHead {
    font-weight: 600;
}

.SortListParagraph {
    text-decoration: none;
    color: black;
}

.SortListParagraph:hover, .SortListItem1:hover, .SortListItem2:hover, .SortListItem3:hover {
    background-color: #262626;
    color: white !important;
}

.SortListItem1, .SortListItem2, .SortListItem3 {
    background-color: #FFC640;
    border: none;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: '';
}

details[open] summary:after {
    content: '';
}


/*Footer*/
.footer {
  background: #212B30;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: #FFC72C;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: #FFC72C;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: #fff;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #fff;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover {
  color: #FFC72C;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #FFC72C;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
    margin: 0 0 0 0;
    padding-top: 2rem;
    text-transform: capitalize;
    color: #fff;
    border-top: 0.1rem solid #FFC72C;
    font-size: inherit;
}

.footer .credit span {
  color: #FFC72C;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem 5%;
  }

  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5REM;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background: #171E22;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }

  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 2.3rem;
  }

  .home .slide .content h3 {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .about .content .about-title {
    font-size: 4rem;
  }
}

@media(max-width:960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    ;
  }
}
@media (max-width: 700px) {
  .scroll-down {
    display: none;
  }
}
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

